*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}

.home{
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 29, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

input{
  max-width: 500px;
  width: 60%;
  height: 3rem;
  outline: none;
  border: none;
  padding: 1.1rem;
  border-radius: 1.1rem;
}

button{
  height: 2rem;
  outline: none;
  border: none;
  padding: 1.1rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(54, 141, 207);
  color: white;
  

}

button:hover{
  background-color: rgb(96, 108, 119);
  cursor: pointer;
}